# Analyse des Logs d'Entraînement (Best HP)
Ce notebook permet d'extraire et de visualiser les données d'entraînement stockées dans les fichiers TensorBoard à l'aide de Pandas.

In [2]:
import sys
import os

# Ajouter la racine du projet au chemin de recherche de Python
# Cela permet d'importer les modules du dossier 'src'
sys.path.append(os.path.abspath(".."))

from src.scripts.extract_logs import load_tfevents_to_df

# Utilisation de la fonction pour charger les données
log_path = "../logs/dqn_LunarLander_v1/best_HP_1/events.out.tfevents.1771422769.LAPTOP-R6T5Q982.28996.8"
df = load_tfevents_to_df(log_path)

# Affichage des premières lignes
df.head()

,step,rollout/ep_len_mean,rollout/ep_rew_mean,rollout/exploration_rate,time/fps,train/learning_rate,train/loss
0,414,103.500000,-257.315582,0.998034,3216.0,NaN,NaN
1,797,99.625000,-240.892792,0.996214,3542.0,NaN,NaN
2,1133,94.416664,-215.213730,0.994618,3635.0,NaN,NaN
3,1526,95.375000,-217.597626,0.992751,3747.0,NaN,NaN
4,1841,92.050003,-207.060043,0.991255,3753.0,NaN,NaN

In [3]:
df.shape

(658, 7)